body {
  color: #cfcfc9;
  font-weight: 600;
  line-height: 1.666;
  background: #15202b;
  font-family: 'Oxygen Mono', monospace;
}

.container {
  width: 80%;
  margin: -25px auto 20px auto;
}

.title {
  display: flex;
  margin-bottom: -10px;
  justify-content: center;
}

.title h1 {
  color: #fff;
  padding: 10px;
  font-size: 4.4rem;
  letter-spacing: 5px;
  font-family: monospace;
  text-shadow: 6px 6px #273742;
}

.searchbox {
  width: 80%;
  margin: auto;
  margin-bottom: 70px;
}

.dictionary {
  gap: 25px;
  display: grid;
  margin: 10px auto;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

.term {
  width: 20rem;
  display: flex;
  padding: 1.6rem;
  border-radius: 3px;
  text-align: center;
  margin-bottom: 1.5rem;
  flex-direction: column;
  justify-content: center;
  background-color: #192734;
  transition: all 100ms ease-in-out;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05), 0 5px 20px rgba(0, 0, 0, 0.1);
}

.emoji-term {
  margin-bottom: 25px;
}

.emoji {
  font-size: 5rem;
  font-weight: 900;
}

dt {
  line-height: 1;
  color: #2ec2b0;
}

dd {
  margin-left: 0;
}

.copy-emoji-btn {
  width: 100%;
  color: #fff;
  border: none;
  outline: none;
  padding: 7px;
  font-size: 17px;
  cursor: pointer;
  box-sizing: border-box;
  font-family: monospace;
  border: 2px solid #273742;
  background-color: #192734;
  transition: color 0.2s, background-color 0.2s;
}

.copy-emoji-btn:hover {
  background-color: #38444d;;
}

@media screen and (max-width: 600px) {
  .container {
    width: 90%;
    margin-top: -10px;
  }

  .title h1 {
    font-size: 3.5rem;
  }
}